div {
  background-color: #ff0000;
  padding: 5rem 0;
}

button {
  max-width: 40rem;
  padding: 1rem;
  background-color: cornflowerblue;
  margin: 2rem;
}

img {
  width: 100%;
}

ul li {
  color: violet;
}
